@use 'mixins';
@use 'variaveis';
.nvg{

&__titulo{
    font-size: 2.5rem;
  color: variaveis.$cor-titulo;
  @include mixins.flex-column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0 1rem 0;
}
&__lista {
    display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: variaveis.$cor-texto;
  list-style: none;
}
&__lista--ancora {
     display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: variaveis.$cor-texto;
  list-style: none;
}
  &__lista--ancora:hover {
      color: #2563EB;
      font-weight: bold;
}
}